/*The main colors:
all page background-color: #FFFDD5;
navigation and a href links color: #456634;
 copyright and links color: #663429
 h1, h3, home-text, footer content, about us paragraph color: #EBE5B4
 background-color: #293a48 (footer)
 background-color: #3E4551; (footer 2)
 background-color: #BD9E89 (footer 3)
 */


/*Home page css*/

@import url('https://fonts.googleapis.com/css?family=bangers');

body {
  background-color: #FFFDD5;
  overflow-x: hidden;
  overflow-y: scroll;
}

a {
  color: #663429;
}
a:hover {
  color: #456634;
}
.navigation-links:hover {
  color: #456634;
}
.logo {
  display: block;
  margin: 0 auto;
}
.navigation {
  text-align: center;
  list-style: none;
  font-size: 38px;
  font-family: verdana sans-serif;
  padding-top: 3%;
  padding-left: 0;
}
.images-list-head {
  top: 50%;
  padding-top: 5%;
  display: inline;
  display: inline-block;
  position: center;
}
.image-name {
  display: inline;
  padding-top: 10%;
  padding: 25px;
  padding-left: 25px;
  align-items: center;
  border: 20px;
}
.second-images-list {
  display: inline;
  padding-top: 10%;
  padding: 25px;
  padding-left: 25px;
  align-items: center;
  border: 20px;
}
h1 {
  text-align: center;
  top: 0;
  left: 50%;
  padding: 5%;
  font-family: sans-serif;
  font-size: 70px;
  color: #EBE5B4;
  margin: 0;
  text-shadow: 1px 1px 1px #000;
}
h2 {
  text-align: center;
  font-size: 40px;
  color: #663429;
  padding-bottom: 20px;
}
h3 {
  color: #EBE5B4;
}

h4 {
  text-align: center;
  padding-bottom: 5%;
  padding-top: 3%;
  font-family: sans-serif;
  font-weight: bold;
}
p {
  display: inline-block;
  margin: auto;
  display: block;
  text-align: center;
}
.background {
  background-image: url(../img/dog1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: none;
  position: relative;
  background-image-size: 100%;
  padding-right: 0;
  right: 0;
  overflow-x: hidden;
}
.overlay {
  background-color: rgba(0, 0, 0, .2);
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding-bottom: 5%;
}
.container-fluid {
  text-align: center;
  padding: 0;
  color: #663429;
}
.img-thumbnail, .thumbnail {
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
}
.thumbnail {
  background-color: inherit;
  border: none;
  border-radius: 0;
  padding-top: 3%;
}
.home-text {
  padding-top: 0 auto;
  margin: auto;
  display: block;
  left: 1000px;
  font-style: normal;
  padding-bottom: 0;
  font-size: 27px;
  color: #EBE5B4;
  text-align: center;
}
.home-page-img {
  padding-top: 2%;
  padding-bottom: 0;
}
.img-responsive {
  margin: 0;
  padding: 0;
  max-width: 100%;
}
.blog-post-heading {
text-align: center;
margin-top: 5%;
font-size: 40px;
color: #663429;
padding-bottom: 2px;
}

.mdb-skin-custom .page-footer {
  background-color: #293a48;
}
.documentation footer {
  padding-left: 0;
}
@media (max-width: 1440px) .fixed-sn .double-nav, .fixed-sn footer, .fixed-sn main {
  padding-left: 0;
}
.fixed-sn .double-nav, .fixed-sn footer, .fixed-sn main {
  padding-left: 240px;
}
footer.page-footer {
  margin-top: 20px;
  padding-top: 20px;
  background-color: #3E4551;
  /*color: #fff;*/

  float: left;
  position: relative;
  width: 100%;
  bottom: 0;
}
.footer-content {
  font-size: 15px;
  color: #663429;
}
.footer-content:hover {
  color: #456634;
}
.blue {
  background-color: #BD9E89!important;
}
.page-footer .footer-copyright {
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  color: rgba(255, 255, 255, .8);
  background-color: rgba(0, 0, 0, .2);
  text-align: center;
}
.footer-list {
  list-style: none;
  display: inline-block;
}
.copyright-text {
  color: #663429;
}

/*about us page css*/
.about-us-paragraph {
  margin: auto;
  display: block;
  left: 1000px;
  font-style: normal;
  padding-bottom: 0;
  font-size: 27px;
  color: #EBE5B4;
  text-align: center;
}
.our-team-list-container {
  vertical-align: middle
}
.our-team-list {
  display: inline-block;
  position: center;
  display: inline-flex;
}
.img-responsive {
  padding: 0;
  width: 60%;
  margin: auto;
}
.footer-bcg {
  margin: 0;
  padding: 0;
}
.about-us-bcg {
  background-image: url(../img/cat1.jpg);
  min-height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 10%;
  padding-right: 0;
  left: 1000px;
  z-index: 10;
}

/*Services*/
.service-heading {
  padding: 10%; 
}
.background-all-service {
  background-image: url(../img/service-bcg-1.jpg);
  background-color: #456634;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 100%;
  background-size:contain;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
     padding-right: 0; 
    padding-left: 0;
}

.service-overlay {
  background-color: hsla(115, 90%, 20%, 0.1);
    opacity: .5;
  background-size: cover;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  background-size: cover;
  background-size:contain;
  content: "";
  background-repeat: no-repeat;
}

.services-list {
  box-sizing: none;
}

.service-ul-inline {
  display: inline;
}

.service-ul {
  padding: 0;
  list-style: none;
  font-size: 20px;
}

.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 70px;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 70px;
    padding-top: 3%;
    padding-bottom: 3%;
}
  .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
  }
  .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
  }

@media only screen and (max-width : 320px) .glyphicon {
 font-size: 20px;
}
    }
.service-img {
  max-width: 100%;
  max-height: 100%;
}

/*Cats and Dogs webpage*/
.cats-dogs-bcg {
  background-image: url(../img/cat-dog-bcg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 0%;
}
.cats-dogs-paragraph {
  padding-top: 0 auto;
  margin: auto;
  display: block;
  left: 1000px;
  font-style: normal;
  padding-bottom: 0;
  font-size: 35px;
  color: #EBE5B4;
  text-align: center
}

button {
  background-color: #456634;
  color: #EBE5B4;
  text-align: center;
  background-image: none;
}

.my-btn:hover {
  background-color: #663429;
}

.animal-name-h3 {
  color: #663429;
  text-align: center;
}

/* Contacts */

.content-section {
 /* background-image: -webkit-gradient(linear, left top, left bottom, from(#456634), to(#663429)); */
    background-image: url(../img/service-cover.jpg);
    position: relative;
    background-size: cover;
}

.form-control {
  background-color: #EBE5B4;
}

.contact-us {
color: #E8D600;
Font-size: 90px;
font-family: verdana sans-serif;
}

.contact-paragraph {
  color: #E8D600;
  padding-bottom: 3%;
}
label {
  color: #E8D600;
}

.btn-lg {
  background-image: none;
  background-color: #456634;
color: #EBE5B4; 

.btn{
background-color: #456634;
color: #EBE5B4; 
background-image: none;
text-shadow: none;
}
.
.btn:hover {
   background-color: #456634;
}
  .btn:visited {
    background-color: #663429;
  }


.list-inline {
  padding-bottom: 3%;
}
.bs-glyphicons .glyphicon-class {
    /* display: block; */
    text-align: center;
    word-wrap: break-word;
}
.contact-list {
  font-weight: bold;
  font-size: 20px;
  color: #456634;
}

/*Bella webpage  */
font-size: 30px;

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .bella-image {
max-width: 50%;
max-height: 50%;
}
  }


    @media only screen and (max-width : 480px) {
.home-text{
  color: red;
}
    }

    /* Custom, iPhone Retina */
    @media only screen and (max-width : 320px) {

    }
