/*The main colors:
all page background-color: #FFFDD5;
navigation and a href links color: #456634;
 copyright and links color: #663429
 h1, h3, home-text, footer content, about us paragraph color: #EBE5B4
 background-color: #293a48 (footer)
 background-color: #3E4551; (footer 2)
 background-color: #BD9E89 (footer 3)
 */
/*Font families to choose:
font-family: 'Comfortaa', cursive;
font-family: 'Chewy', cursive;
font-family: 'Armata', sans-serif;
font-family: 'Concert One', cursive;
font-family: 'Lobster', cursive;
font-family: 'Aclonica', sans-serif; 
font-family: 'Open Sans', sans-serif;*/

/*Home page css*/
@import url('https://fonts.googleapis.com/css?family=Armata|Chewy|Comfortaa|Concert+One|Lobster|Roboto|Aclonica|Open+Sans');

html, body {
  background-color: #FFFDD5;
  overflow-x: hidden;
  /* overflow-y: scroll; */
  margin: 0;
  padding: 0;
}

.navigation-links {
   color: #663429;
}

.navigation-links:hover {
  color: #456634;
}
.logo {
  display: block;
  margin: 0 auto;
}
.navigation {
  text-align: center;
  list-style: none;
  font-size: 27px;
  font-family: 'Aclonica', sans-serif;
  padding-top: 3%;
  padding-left: 0;
  padding-bottom: 3%;
}
.home-header {
  text-align: center;
  top: 0;
  left: 50%;
  padding: 5%;
  font-family: 'Aclonica', sans-serif;
  font-size: 70px;
  color: #EBE5B4;
  margin: 0;
}

.home-paragraph {
  font-family: 'Roboto', sans-serif;
  margin: auto;
  display: block;
  left: 1000px;
  font-style: normal;
  padding-bottom: 0;
  font-size: 20px;
  color: #EBE5B4;
  text-align: center;
    word-wrap: break-word;
    padding: 10%;
    padding-top: 3%;
    width: 100%;

}
.home-h2 {
    text-align: center;
  font-size: 40px;
  color: #663429;
  padding-bottom: 20px;
  font-family: 'Lobster', cursive;
}

.home-h4 {
  text-align: center;
  padding-bottom: 5%;
  padding-top: 3%;
  font-family: sans-serif;
  font-weight: bold;
}

.background {
  background-image: url(../img/dog1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: none;
  position: relative;
  padding-right: 0;
  right: 0;
  overflow-x: hidden;
  min-width: 200px;
 }

.overlay {
  background-color: rgba(0, 0, 0, .5);
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding-bottom: 5%;
}
.container-fluid {
  text-align: center;
  padding: 0;
  color: #663429;
}
.img-thumbnail, .thumbnail {
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
}
.thumbnail {
  background-color: inherit;
  border: none;
  border-radius: 0;
  padding-top: 3%;
}

.home-page-img {
  padding-top: 2%;
  padding-bottom: 0;
}
.img-responsive {
  margin: 0;
  padding: 0;
  max-width: 100%;
}
.blog-post-heading {
text-align: center;
margin-top: 5%;
font-size: 40px;
color: #663429;
padding-bottom: 2px;
}

.mdb-skin-custom .page-footer {
  background-color: #293a48;
}
.documentation footer {
  padding-left: 0;
}

.fixed-sn .double-nav, .fixed-sn footer, .fixed-sn main {
  padding-left: 240px;
}
footer.page-footer {
  margin-top: 20px;
  padding-top: 20px;
  background-color: #3E4551;
  float: left;
  position: relative;
  width: 100%;
  bottom: 0;
}

.footer-content {
  font-size: 15px;
  color: #EBE5B4;
}

.footer-text {
color: #EBE5B4;
}

.blue {
  background-color: #456634!important;
}
.page-footer .footer-copyright {
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  color: rgba(255, 255, 255, .8);
  background-color: rgba(0, 0, 0, .2);
  text-align: center;
}
.footer-list {
  list-style: none;
  display: inline-block;
}

.footer-title {
 color: #EBE5B4;
}

.footer-partners-list{
  color: #E8D600;
}

.footer-partners-list:hover {
  color: #EBE5B4;
}
.copyright-text {
  color: #EBE5B4;
}

/*about us page css*/

.about-us-header {
  text-align: center;
  top: 0;
  left: 50%;
  padding: 5%;
  padding-bottom: 2%;
  font-family: 'Aclonica', sans-serif;
  font-size: 70px;
  color: #EBE5B4;
  margin: 0;
}

.about-us-paragraph {
  margin-left: 3%;
  display: block;
  left: 1000px;
  font-style: normal;
  font-size: 20px;
  color: #EBE5B4;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  word-wrap: break-word;
  margin: 0;
  float: right;
  padding: 10%;
  padding-top: 3%;

}

.about-us-h2 {
    text-align: center;
  font-size: 40px;
  color: #663429;
  padding-bottom: 20px;
  font-family: 'Lobster', cursive;
  margin-top: 20px;
  margin-bottom: 10px;
}

.about-us-people-h4 {
  padding: 3%;
  font-size: 25px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #663429;
    width: 100%;
}

.abut-us-people-p {
   font-size: 16px;
    text-align: center;
    word-wrap: break-word;
    font-family: 'Roboto', sans-serif;
    color: #663429;
    margin: auto;
    display: block;
    padding: 3%;
}

.our-team-list-container {
  vertical-align: middle
}
.our-team-list {
  display: inline-block;
  position: center;
  display: inline-flex;
}
.img-responsive {
  padding: 0;
  width: 60%;
  margin: auto;
}
.footer-bcg {
  margin: 0;
  padding: 0;
}
.about-us-bcg {
  background-image: url(../img/cat1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: none;
  position: relative;
  padding-right: 0;
  right: 0;
  overflow-x: hidden;
  min-width: 200px;
}

/*Services si puslapi dar reikes gerai perkratyti*/
.service-heading {
  padding: 10%; 
  padding-bottom: 0;
}
.services-header {
    font-family: 'Aclonica', sans-serif;
    font-size: 90px;
    color: #EBE5B4;
    width: 100%;
    z-index: 10;
    padding: 3%;
}
.service-paragraph {
  font-size: 27px;
  color: #EBE5B4;
  width: 100%;
  padding: 10%;
  padding-top: 3%;
}
.background-all-service {
  background-image: url(../img/service-bcg-1.jpg);
  background-color: #456634;
   background-size: cover; 
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 100%;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
     padding-right: 0; 
    padding-left: 0;
}

.service-overlay {
  background-color: hsla(115, 90%, 20%, 0.1);
  background-size: cover;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  content: "";
  background-repeat: no-repeat;
}

.services-list {
  box-sizing: none;
}

.service-ul-inline {
  display: inline;
}

.service-ul {
  padding: 0;
  list-style: none;
  font-size: 20px;
}
.services-link {
  color: #663429;
}
.services-link:hover {
  color: #456634;
}

.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 70px;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 70px;
    padding-top: 3%;
    padding-bottom: 3%;
}
  .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
  }
  .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
  }

@media only screen and (max-width : 320px) {
  .glyphicon {
    font-size: 30px;
}
}
    
.service-img {
  max-width: 100%;
  max-height: 100%;
}

.collapsible-header {
  font-size: 27px;
}
.collapsible-body {
  font-size: 17px;
  padding: 5%;
  padding-left: 6%;
  padding-right: 6%;
}

/*Cats and Dogs webpage*/

.cats-dogs-header{
  text-align: center;
  top: 0;
  left: 50%;
  padding: 5%;
  font-family: 'Aclonica', sans-serif;
  font-size: 70px;
  color: #EBE5B4;
  margin: 0;
}

.cats-dogs-bcg {
  background-image: url(../img/cat-dog-bcg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 0%;
}
.cats-dogs-paragraph {
  padding: 10%;
  padding-top: 3%;
  width: 100%;
  margin: auto;
  font-style: normal;
  padding-bottom: 0;
  font-size: 20px;
  color: #EBE5B4;
  text-align: center;
}

.cats-dogs-h4{
  text-align: center;
  font-size: 40px;
  color: #663429;
  padding-bottom: 20px;
  font-family: 'Lobster', cursive;
}

button {
  background-color: #456634;
  color: #EBE5B4;
  text-align: center;
  background-image: none;
}

.my-btn:hover {
  background-color: #663429;
}

.animal-name-h3 {
  color: #663429;
  text-align: center;
  font-size: 24px;
}

/* Contacts */


.content-section {
 /* background-image: -webkit-gradient(linear, left top, left bottom, from(#456634), to(#663429)); */
    background-image: url(../img/service-cover.jpg);
    position: relative;
    background-size: cover;
}

.form-control {
  background-color: #EBE5B4;
}

.contact-us {
color: #E8D600;
Font-size: 90px;
font-family: 'Aclonica', sans-serif;
}

.contact-paragraph {
  color: #E8D600;
  padding-bottom: 3%;
}

.social-sites-h3 {
color: #E8D600;
  text-align: center;
}
label {
  color: #E8D600;
}

.btn-lg {
  background-image: none;
  background-color: #456634;
color: #EBE5B4; 
}

.btn {
background-color: #456634;
color: #E8D600; 
background-image: none;
text-shadow: none;
}

.btn:hover {
   background-color: #456634;
}
  .btn:visited {
    background-color: #663429;
  }


.list-inline {
  padding-bottom: 3%;
}
.bs-glyphicons .glyphicon-class {
    /* display: block; */
    text-align: center;
    word-wrap: break-word;
}
.contact-list {
  font-weight: bold;
  font-size: 20px;
  color: #456634;
}
.modal-content {
  padding: 20%;
  background-color: #EBE5B4; 
  border-radius: 15%;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

/*Bella webpage  */
.bella-heading {
   padding-top: 3%;
   padding-bottom: 3%;
  display: block;
  font-size: 60px;
  color:#456634;
  text-align: center;
  font-family: 'Aclonica', sans-serif;
  
}
.bella-paragraph {
  font-family: 'Roboto', sans-serif;
  color: #663429;
    margin: auto;
    display: block;
    left: 1000px;
    font-style: normal;
    padding-bottom: 0;
    font-size: 20px;
    text-align: center;
    width: 800px;
    word-wrap: break-word;
}

.bella-h2 {
    text-align: center;
  font-size: 40px;
  color: #663429;
  padding-bottom: 20px;
  font-family: 'Lobster', cursive;
}

.bella-image {
  text-align: center;
  margin: auto;
  display: block;
  left: 1000px;
  font-style: normal;
  padding-bottom: 0;

}
/* carousel */
div.c-wrapper{
  width: 80%; /* for example */
  margin: auto;
}
.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
margin: auto;
}
.carousel-caption {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  color: #EBE5B4; 
left: 45%;
}

.carousel-indicators {
  height: 100%;
  margin-top: 10px;
  border-radius: 0;
  border: 0;
 
}

.right, .left {
  background-color: #456634;
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 361px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {


  }
@media only screen and (max-width : 480px) {
.services-header{
  font-size: 50px;
}
.service-paragraph {
  font-size: 17px;
}
}

  }

    @media only screen and (max-width : 420px) {

      .home-paragraph {
        font-size: 17px;
      }
      .home-h4 {
        font-size: 13px;
      }
    }

    /* Custom, iPhone Retina */
    @media only screen and (max-width : 320px) {
       .home-header {
  font-size: 40px;
}
.about-us-header{
  font-size: 40px;
}
.services-header{
  font-size: 40px;
}
.services-link {
  font-size: 14px;
  font-weight: 30%;
}
.cats-dogs-header {
  font-size: 40px;
}
.cats-dogs-paragraph {
  font-size: 13px;
}
    }

